<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947858717577-7fna31n6ivnaol9j5nlu6c7c5nlh79oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947858717577-7fna31n6ivnaol9j5nlu6c7c5nlh79oi</string>
	<key>API_KEY</key>
	<string>AIzaSyATnuF0nxVcwfRJhabsVxlDYeJQ7oRp3gM</string>
	<key>GCM_SENDER_ID</key>
	<string>947858717577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.osteocare</string>
	<key>PROJECT_ID</key>
	<string>osteocare-51f76</string>
	<key>STORAGE_BUCKET</key>
	<string>osteocare-51f76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947858717577:ios:0e74f4b2b9d9949d53ff58</string>
	<key>DATABASE_URL</key>
	<string>https://osteocare-51f76.firebaseio.com</string>
</dict>
</plist>